<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Mapping Result</h2>
<table>
    <tr>
        <th>NEW_CATEGORY</th>
        <th>COUNT</th>
    </tr>
    <tr th:each="result : ${countResult}">
        <td><span th:text="${result.getCategory}"></span></td>
        <td><span th:text="${result.count_result}"></span>건</td>
    </tr>
</table>
<table>
    <tr>
        <th>TYPE</th>
        <th>COUNT</th>
    </tr>
    <tr>
        <td><span>FILE</span></td>
        <td><span th:text="${fileCnt}"></span>건</td>
    </tr>
    <tr>
        <td><span>DB</span></td>
        <td><span th:text="${dbCnt}"></span>건</td>
    </tr>
    <tr>
        <td><span>TOTAL</span></td>
        <td><span th:text="${dbCnt}+${fileCnt}"></span>건</td>
    </tr>
</table>
<a href="/mappingData"><button>Mapping Data</button></a>
<a href="/noMappingData"><button>No Mapping Data</button></a>
</body>
</html>